# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/
/PA5/Release/vc140.pdb
/PA5/Release
/PA5/.vs/PA5/v14
/PA5/packages
/PA5/PA5.VC.db
/PA5/PA5.VC.VC.opendb
/PA5/packages.config
/PA5/x64/Release/PA5.tlog
/PA5/x64/Release
/PA5/.vs/PA5-Graphics/v14
/PA5/x64/Debug
/PA6/.vs/PA6/v14
/PA6/Debug
/PA6/packages
/PA6/x64
*.db
*.opendb
